@-webkit-keyframes colorPulse {
	0% {color: red;}
	50% {color: yellow;}
	100% {color: blue;}
}

html, body, section, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  background: transparent;
  box-sizing: border-box;
	color: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  padding: 20px;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 24px;
  text-align: center;
}

.snake-game {
  margin: 0 auto;
  border: 5px solid black;
  width: 810px;
	position: relative;
}

.row {
  width: 800px;
}

.cell {
  float: left;
  width: 20px;
  height: 20px;
}

.segment {
  background-color: green;
}

.empty {
  background-color: tan;
}

.apple {
  background-color: red;
}

div.lost_background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
}

div.lost_modal {
	background: #fff;
	border-radius: 10px;
	padding: 20px;
	font-size: 30px;
	width: 200px;
	text-align: center;
	z-index: 1000;
	position: absolute;
	top: 200px;
	left: 280px;
}

a.restart {
	display: block;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
}

p.new_high_score {
	-webkit-animation: colorPulse 2s infinite;
	display: block;
	font-size: 20px;
	font-weight: bold;
}

div.points {
	font-size: 30px;
	font-weight: bold;
	opacity: 0.5;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;
}

div.high_score {
	font-weight: bold;
	opacity: 0.5;
	padding: 5px 10px;
	position: absolute;
	top: 30px;
	left: 0;
}